/*
!.gitignore
# Разрешить всё в addons/, gamemodes/, lua/
!addons/
!gamemodes/
!lua/

# Разрешить все файлы и подпапки в addons/, gamemodes/, lua/
addons/**
gamemodes/**
lua/**

# Запретить папку addons/libfuse-protect/ и её содержимое
addons/libfuse-protect/
addons/libfuse-protect/**